@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Inter&display=swap");
/* BOOTSTRAP NAV OVERRIDES */

html {
  scroll-behavior: smooth;
  /* height:100%; */
}

#headnav {
  background-color: rgb(247, 247, 247) !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 0px 6px 0.3px rgba(0, 0, 0, 0.2);
}

#brand {
  font-family: "Archivo", sans-serif !important;
  padding: 20px;
  font-size: 35px;
}

#hamburger {
  background-color: springgreen !important;
  margin: 10px;
  border: 1px solid rgb(255, 160, 116);
}
#navItems {
  padding: 0 !important;
}
.nav-link {
  color: rgb(44, 44, 44) !important;
  font-family: "Archivo", sans-serif;
  letter-spacing: 2px;
  text-transform: lowercase;
  font-size: 20px;
  margin: 20px;
}

body {
  height:100%;
  background: rgb(241, 203, 148);
  background: radial-gradient(
    circle,
    rgba(241, 203, 148, 1) 0%,
    rgba(207, 232, 200, 1) 100%
  );
  font-family: "Inter", sans-serif;
  color: black;
}

h1 {
  font-family: "Archivo", sans-serif;
  text-align: center;
}



.container * {
  padding: 5px;
  margin: 10px;
}

.container {
  /* display: flex; */
  max-width: 100%;
}

#mePic {
  border-radius: 15px;
}

article {
  font-size: 1rem;
}

.box1 {
  margin: auto;
  width: 340px;
}
.box2 {
  text-align: center;
  margin: auto;
  height: 250px;
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 80px;
}

.prjx {
  margin-top: 120px;
  margin-bottom: 50px;
}

form {
  display:flex;
  justify-content: center;
  font-family: "Inter", sans-serif;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0px 6px 0.3px rgba(0, 0, 0, 0.2);
  padding: 100px;
}

section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

/* my-card h2{
  font-size: 18px;
} */



/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(247, 247, 247);
  height: 66px;
  padding: 10px;
  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
  box-shadow: 0 0px 6px 0.3px rgba(0, 0, 0, 0.1);
}

#cpy {
  padding-top: 10px;
  color: rgb(29, 29, 29);
}

#socials {
  text-align: right;
  font-size: 30px;
}

.fa-github:hover {
  color: rgb(72, 177, 124);
  transition: 0.3s;
}

.fa-linkedin:hover {
  color: rgb(72, 177, 124);
  transition: 0.3s;
}

.fa-spotify:hover {
  color: rgb(72, 177, 124);
  transition: 0.3s;
}

@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
  }
}
