@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Inter&display=swap");
/* BOOTSTRAP NAV OVERRIDES */

html {
  scroll-behavior: smooth;
}

#headnav {
  background-color: rgb(245, 245, 245) !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 0px 6px 0.3px rgba(0, 0, 0, 0.2);
}

#brand {
  font-family: "Archivo", sans-serif !important;
  padding: 20px;
  font-size: 35px;
}

#hamburger {
  background-color: springgreen !important;
  margin: 10px;
  border: 1px solid rgb(255, 160, 116);
}
#navItems {
  padding: 0 !important;
}
.nav-link {
  color: rgb(44, 44, 44) !important;
  font-family: "Archivo", sans-serif;
  letter-spacing: 2px;
  text-transform: lowercase;
  font-size: 20px;
  margin: 20px;
}

body {
  background: rgb(241, 203, 148);
  background: radial-gradient(
    circle,
    rgba(241, 203, 148, 1) 0%,
    rgba(207, 232, 200, 1) 100%
  );
  font-family: "Inter", sans-serif;
  color: black;
  border: 1px solid red;
}

h1 {
  font-family: "Archivo", sans-serif;
  text-align: center;
}

main {
    height: 1300px;
    direction: vertical;
    border: 2px solid hotpink;
}

.container * {
  padding: 5px;
  margin: 10px;
}

.container {
  display: flex;
  max-width: 100%;
}


img {
  border-radius: 15px;
}

article {
  font-size: 1rem;
}

.box1 {
  margin: auto;
  border: 1px solid black;
  width:340px;
}
.box2 {
  text-align: center;
  margin: auto;
    height: 250px;
max-width: 100%;
  border: 1px solid black;
  border-radius: 5px;
}

.prjx {
  margin-top: 30px;
}

section {
  display:flex;
  justify-content: space-around;
  flex-wrap:wrap;
  width: 90%;
  margin: 10px auto;
}

::part(footer){
  display:flex;
  justify-content: center;
}

sl-button::part(base) {
  margin:6px;
}

sl-button-group::part(base){
  display:flex;
  justify-content: space-around;
  wdith: 100%;
}

/* FOOTER */
footer {
  padding-top: -50px;
  padding: 10px;
  background-color: rgb(245, 245, 245);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 0px 6px 0.3px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
  }
}