@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&family=Roboto:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,800;1,700&display=swap");

html {
  scroll-behavior: smooth;
}

#headnav {
  display: flex;
  flex-direction: row;
  background-color: rgb(247, 247, 247) !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 0px 6px 0.3px rgba(0, 0, 0, 0.1);
}

#brand {
  font-family: "Roboto", sans-serif !important;
  font-weight: 900;
  letter-spacing: 2px;
  padding: 20px;
  font-size: 40px;
}

#hamburger {
  background-color: rgb(248, 248, 248) !important;
  margin: 10px;
  border: 1px solid rgb(224, 224, 224);
}
#navItems {
  padding: 0 !important;
}
.nav-link {
  color: rgb(44, 44, 44) !important;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0px;
  text-transform: lowercase;
  font-size: 20px;
  margin: 20px;
}

body {
  display: grid;
  grid-column: auto;
  max-width: 100%;
  background: rgb(241, 203, 148);
  background: radial-gradient(
    circle,
    rgba(241, 203, 148, 1) 0%,
    rgba(207, 232, 200, 1) 100%
  );
  font-family: "Roboto", sans-serif;
  color: black;
}

#h1-body {
  font-family: "Playfair", serif;
  font-size: 45px;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  margin-bottom: 30px;
}

#abt {
  font-family: "Playfair", serif;
  font-size: 45px;
  font-weight: 500;
  font-style: italic;
  text-align: center;
}

#i-know {
  font-size: 50px;
}

.container * {
  padding: 5px;
  margin: 10px;
}

.container {
  max-width: 100%;
}

#mePic {
  border-radius: 7px;
  
}

article {
  font-size: 1rem;
}

.box1 {
  margin: auto;
}
.box2 {
  text-align: center;
  margin: auto;
  height: 250px;
  margin-bottom: 140px;
}

.prjx {
  margin-top: 100px;
}

form {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 100px;
}

#projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 275px;
  margin: 5px;
  margin-bottom: 100px;
  border:none;
  box-shadow: 0 0px 6px 0.3px rgba(0, 0, 0, 0.2);
}

#ctf {
  font-style: italic;
  text-align: center;
}


#contactme {
  background-color: white;
  box-shadow: 0 0px 6px 0.3px rgba(0, 0, 0, 0.2);
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#input {
  border-radius: 4px;
  padding: 10px;
  width:300px;
  border: 1px solid rgb(190, 190, 190);
  box-shadow: 0 0px 2px 0.3px rgba(0, 0, 0, 0.1);
}

.sbmt {
  border-radius: 4px;
  width: 305px;
  height: 35px;
  color: white;
  border: 1px solid rgb(190, 190, 190);
  background-color: black;
  box-shadow: 0 0px 2px 0.3px rgba(0, 0, 0, 0.1);
}

.form-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.message {
  font-family: "Playfair", serif;
  font-size: 45px;
}

.card h2 {
  flex: 1;
  font-size: 18px;
}

.sl-btn {
  margin: 3px;
  width: 100px;
}

a .btn-hvr:hover {
  color: beige;
  transition: 0.3s;
}

.card-text {
  font-size: 13px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(247, 247, 247);
  height: 66px;
  padding: 10px;
  box-shadow: 0 0px 6px 0.3px rgba(0, 0, 0, 0.1);
}

#cpy {
  font-size: 15px;
  padding-top: 10px;
  color: rgb(29, 29, 29);
}

#socials {
  text-align: right;
  font-size: 30px;
}

.fa-github:hover {
  color: rgb(72, 177, 124);
  transition: 0.3s;
}

.fa-linkedin:hover {
  color: rgb(72, 177, 124);
  transition: 0.3s;
}

.fa-spotify:hover {
  color: rgb(72, 177, 124);
  transition: 0.3s;
}

@media only screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}